body{
    font-family: Arial, sans-serif;
    background-color: rgb(24, 8, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    width: 400px;
    max-width: 100%;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid white;
    border-radius: 4px;
}

button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button:hover {
    background-color: purple;
}

.remove-field {
    background-color: red;
    color: white;
    margin-left: 10px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}